body{
    background: white;
    margin: 0;
    padding: 0;
}

#accueil{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 87.85vh;
    
}

.accueil{
    text-align: center;
    
}

