/* S'inscrire' */
body{
    background: white;
    margin: 0;
    padding: 0;
}

#sinscrire{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 87.85vh;
    
}

#signup{
    /* background: salmon; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 380px;
    margin: 50px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: black 2px 2px 10px;
}

#signup p{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: lucida;
    color: rgb(85, 85, 85);
}

#signup hr{
    width: 80%;
    color: rgba(128, 128, 128, 0.2);
}

.form_signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.form_signup input{
    margin-top: 20px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
    border-color:rgba(189, 189, 189, 0.5);
    border-width: 0.5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.submit_signup{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form_signup button{
    background: #6eef26;
    margin-top: 20px;
    height: 30px;
    border-color:rgba(189, 189, 189, 0.5);
    border-width: 0.5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: rgb(100, 100, 100);
}

.form_signup button:hover{
    color: rgb(51, 51, 51);
}

